
.PlayerComponent {
  padding: 0%;
  position: relative;
  display: inline;
  height: 400px;
}
.ImgDiv {
  margin: auto;
  position: relative;
  width: 40%;
  padding-top: 0%;
  padding-left: 360px;
}

.PlayerDiv{
  position:absolute;
  text-align: center;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  width: 0px;
  height: 0px;
}
.Player{
  height: 0px;
  width: 0px;
}

.InfoDiv{
  position: relative;
}
.imageButton {
  font-weight:bold;
  position: absolute;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #fdfdfd;
  border: none;


  width: 150px;
  height: 30px;
  top:-200px;
  left: 300px;
  text-align: center;
  font-size: 12px;

  border-radius: 20px;
}

.Name {
  position: absolute;
  font-family: 'Trebuchet MS', sans-serif;

  border: none;
  color: rgb(255, 255, 255);

  width: 350px;
  height: 30px;
  top:-260px;
  left: 200px;
  text-align: center;
  font-size: 30px;

}
.Location {
  position: absolute;
  font-family: 'Trebuchet MS', sans-serif;

  border: none;
  color: rgb(255, 255, 255);

  width: 150px;
  height: 30px;
  top:-225px;
  left: 300px;
  text-align: center;
  font-size: 20px;


}


